

.container {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

h1 {
    z-index: 1;
    color: rgb(255, 255, 255);
    font-size: 10vw;
    margin: 0;

}


.image {
    position: absolute;
    width: 40vw;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.card {
    width: 300px;
    height: 450px;
    background: #07182E;
    position: relative;
    display: flex;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
  }

  .card img {
    z-index: 1;
    width: 90%;
  }

  .card::before {
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    from {
      transform: rotate(0deg);
    }
  
    to {
      transform: rotate(360deg);
    }
  }
  
  .card::after {
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  } 


  .title_card {
    position: absolute;
    z-index: 1;
    color: #fff;
    font-size: 3rem;
  }



  /* Style for btn_box */
  .btn_box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
    gap: 30px;
    flex-wrap: wrap;

  }

  .btn {
    font-size: 4vw;
    color: #e1e1e1;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
  }

  .btn_active {
    font-size: 4vw;
    color: black;
    font-family: inherit;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    pointer-events: none;
  }

  .btn_active:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: black;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
    width: 100%;
    left: 0%;
    
  }
  
  .btn:focus,
  .btn:hover {
    color: #fff;
  }
  
  .btn:focus:after,
  .btn:hover:after {
    width: 100%;
    left: 0%;
  }
  
  .btn:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }


  /* Style for button */
  button {
    align-items: center;
    background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
    border: 0;
    border-radius: 8px;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    box-sizing: border-box;
    color: #FFFFFF;
    display: flex;
    font-family: Phantomsans, sans-serif;
    font-size: 18px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 140px;
    padding: 3px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s;
   }
   
   button:active,
   button:hover {
    outline: 0;
   }
   
   button span {
    background-color: rgb(5, 6, 45);
    padding: 16px 24px;
    border-radius: 6px;
    width: 100%;
    height: 100%;
    transition: 300ms;
   }
   
   button:hover span {
    background: none;
   }
   
   button:active {
    transform: scale(0.9);
   }


   /* Help words */
   .block {
    display: flex;
    align-items: flex-start;
    width: 80vw;
    gap: 120px;
    flex-wrap: wrap;

   }

   .help_words {
    background-color: #e1e1e12f;
    padding: 10px;
    min-width: 340px;
    height: 450px;
    border-radius: 20px;
    display: block;


   }

   .help_words h3{
    color: #07182E;

   }

   .help_words p{
    color: #07182E;

   }

   .help_words button {
    margin-top: 20%;
   }