@import-normalize; /* bring in normalize.css styles */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://img.freepik.com/free-photo/3d-mountain-landscape-at-sunset_1048-9753.jpg?w=740&t=st=1699799261~exp=1699799861~hmac=1cc9304a3c1ee4d7b488b8af87e7477ca73dd3c1f9b5fd11eea7b12c49c93157);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 130vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
